@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h4>OperatingSystem: @ViewData["OperatingSystem"]</h4>
<h4>OperatingSystemVersion: @ViewData["OperatingSystemVersion"]</h4>
<h4>RuntimeType: @ViewData["RuntimeType"]</h4>
<h4>RuntimeArchitecture: @ViewData["RuntimeArchitecture"]</h4>
<h4>RuntimeVersion: @ViewData["RuntimeVersion"]</h4>